NEXT_PUBLIC_SITE_URL=https://canbazvet.vercel.app
NEXT_PUBLIC_GOOGLE_REVIEWS_URL=https://www.google.com/search?q=CanbazVet+Veteriner+Klini%C4%9Fi+Yorumlar
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/canbazvetedirne/
NEXT_PUBLIC_VETERINARIAN_INSTAGRAM_URL=https://www.instagram.com/berkcanbaz22/
NEXT_PUBLIC_LINKTREE_URL=https://linktr.ee/canbazvet
